img {
  /* prevent image going out of page */
  max-width: 80%;
  /* max 30 lines */
  max-height: 30em;
  /* center image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure > figcaption {
  text-align: center;
}

/* checkboxes on a single line */
li:has(input[type="checkbox"]) {
  display: flex;
  align-items: flex-start;
  margin-right: 0.5em;
  margin-top: 0.2em;
}
li > input[type="checkbox"] {
  margin-right: 0.5em;
  margin-top: 0.2em;
}

/* table style */
table,
th,
td {
  border: thin solid #a0a0a0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: thin 0 0 thin;
  margin: 0 0 1em;
  table-layout: auto;
  width: 100%;
  max-width: 100%;
}
th,
td {
  font-weight: normal;
  text-align: left;
}
th {
  background-color: #f0f0f0;
  font-weight: 700;
  text-align: center;
}

/* code blocks */
/* TODO: https://highlightjs.org/download */
code {
  background: #f0f0f0;
  width: 100%;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem;
  border-radius: 0.1rem;
}
